<p>
    <mat-toolbar>
        <!--<button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>-->
        <span class="title" routerLink="/">Literarno udruženje</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="favorite-icon" routerLink="/registration">
            <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar>
</p>
<router-outlet></router-outlet>

